@font-face{
    font-family: 'PT Sans', sans-serif;
}
*{
    font-family: 'PT Sans', sans-serif;
}
/* header */
header{
    background-color: #fcdb00;
    padding: 10px 0;
}

.menu ul li{
    padding: 0 40px;
}

.menu ul li a{
    font-weight: 700;
    font-size: 22px;
    color: #010101 !important;
    padding: 0 40px;
}

/* Slider section start */
.slider{
    background-color: #fcdb00;
    padding: 40px 0 80px 0;
}

.inspire{
    color: #010101;
    margin-top: 60px;
}

.inspire h1{
    font-size: 32px;
    margin-bottom: 10px;
}

.inspire h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.inspire ul li i{
    font-size: 35px;
    padding: 0 10px;
}

.car-ind{
    bottom: -70px;
}

.car-ind li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #feed80;
    transition: 0.4s;
}

.car-ind li:hover{
    background-color: #010101;
}

.car-ind .active{
    background-color: #010101;
}

/* Features css start */
.features{
    padding: 80px;
}
.title h1{
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.title p{
    font-size: 20px;
}
.icon i{
    font-size: 45px;
    color: #010101;
}
.icon-content h1{
    font-size: 22px;
}

/* Contact start */
.contact{
    padding: 80px 0;
    background-color: #000000;
}